<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="decorators/layout">    
<head>
    <title>Entity ID Repository Create</title>
</head>
<body>
	
	<section layout:fragment="header"><div th:include="fragments/navbar"></div></section>	
    
    <section layout:fragment="content" id="content" class="container-fluid">
    
		<div class="bredcrumb">
			<span><a th:href="@{/dashboard}">Dashboard </a> / </span> 
			<span><a th:href="@{/entityIdRepository/list}">Entity Id Repository</a> / </span> 
			<span><a th:href="@{/entityIdRepository/create}">Create</a></span> 
		</div>
		
		<form action="/entityIdRepository/create" th:action="@{/entityIdRepository/create}" th:object="${entityIdRepositoryForm}" method="post" role="form" id="entity-id-repository-form" autocomplete="off">
			<div class="action-bar">
				<button type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create</button>			
				<a th:href="@{/entityIdRepository/list}" class="btn btn-danger" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancel</a>
			</div>
			
			<div class="form-fields">
				<div class="row">
		    	    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		    	    	<div class="form-group">
	                        <label for="entityName" class="field">Entity Name</label>
	                        <input type="text" name="entityName" id="entityName" class="form-control" placeholder="Entity Name"  />
	                        <div th:class="${#fields.hasErrors('${entityIdRepositoryForm.*}')} ? fieldError : noError" class="error">Duplicate entity</div>
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-12  col-md-6 col-lg-6">
		    	    	<div class="form-group">
	                        <label for="prefix" class="field">Prefix</label>
	                        <input type="text" name="prefix" id="prefix" class="form-control" placeholder="Prefix"  />
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		    	    	<div class="form-group">
	                        <label for="suffix" class="field">Suffix</label>
	                        <input type="text" name="suffix" id="suffix" class="form-control" placeholder="Suffix"  />
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-12  col-md-6 col-lg-6">
		    	    	<div class="form-group">
	                        <label for="lastSrNo" class="field">Last Sr. No</label>
	                        <input type="text" name="lastSrNo" id="lastSrNo" class="form-control" placeholder="Sr. No"  />
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		    	    	<div class="form-group">
	                        <label for="key" class="field">Key</label>
	                        <input type="text" name="key" id="key" class="form-control" placeholder="Key"  />
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-12  col-md-6 col-lg-6">
		    	    	<div class="form-group">
	                        <label for="value" class="field">Value</label>
	                        <input type="text" name="value" id="value" class="form-control" placeholder="Value"  />
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-12  col-md-6 col-lg-6">
		    	    	<div class="form-group">
	                        <label for="description" class="field">Description</label>
	                        <input type="text" name="discription" id="description" class="form-control" placeholder="Description"  />
	                    </div>
		    	    </div>
		    	</div>
			</div>
			
			<div class="action-bar">
				<button type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create</button>			
				<a th:href="@{/entityIdRepository/list}" class="btn btn-danger" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancel</a>
			</div>
		</form>
    </section>
    
    <section layout:fragment="footer"></section>
    
    <div layout:fragment="jssrc">
		
	</div>
    
</body>
</html>