<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="decorators/layout">    
<head>
    <title>Entity ID Repository Create</title>
</head>
<body>
	
	<section layout:fragment="header">
		<div th:include="fragments/navbar">
		</div>
	</section>	
    
    <section layout:fragment="content" id="content" class="container-fluid">
		<div class="bredcrumb">
			<span><a th:href="@{/dashboard}">Dashboard </a> / </span> 
			<span><a th:href="@{/entityIdRepository/list}">Entity Id Repository</a> / </span> 
			<span><a th:href="@{/entityIdRepository/details}">Details</a></span> 
		</div>
		
		<div class="entity-details-container">
			
			<div class="entity-details row">
		    	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		    	    	<div class="row">
	                        <div class="key col-xs-4 col-sm-4 col-md-4 col-lg-4" ><span>Entity Name</span></div>
	                        <div class="value col-xs-8 col-sm-8 col-md-8 col-lg-8"><span th:text="${entityDto.entityName}"></span></div>                        
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		    	    	<div class="row">
	                        <div class="key col-xs-4 col-sm-4 col-md-4 col-lg-4" ><span>Prefix</span></div>
	                        <div class="value col-xs-8 col-sm-8 col-md-8 col-lg-8"><span th:text="${entityDto.prefix}"></span></div>                        
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		    	    	<div class="row">
	                        <div class="key col-xs-4 col-sm-4 col-md-4 col-lg-4" ><span>Suffix</span></div>
	                        <div class="value col-xs-8 col-sm-8 col-md-8 col-lg-8"><span th:text="${entityDto.suffix}"></span></div>                        
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		    	    	<div class="row">
	                        <div class="key col-xs-4 col-sm-4 col-md-4 col-lg-4" ><span>Last Sr No</span></div>
	                        <div class="value col-xs-8 col-sm-8 col-md-8 col-lg-8"><span th:text="${entityDto.lastSrNo}"></span></div>                        
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		    	    	<div class="row">
	                        <div class="key col-xs-4 col-sm-4 col-md-4 col-lg-4" ><span>Key</span></div>
	                        <div class="value col-xs-8 col-sm-8 col-md-8 col-lg-8"><span th:text="${entityDto.key}"></span></div>                        
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		    	    	<div class="row">
	                        <div class="key col-xs-4 col-sm-4 col-md-4 col-lg-4" ><span>value</span></div>
	                        <div class="value col-xs-8 col-sm-8 col-md-8 col-lg-8"><span th:text="${entityDto.value}"></span></div>                        
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		    	    	<div class="row">
	                        <div class="key col-xs-4 col-sm-4 col-md-4 col-lg-4" ><span>Description</span></div>
	                        <div class="value col-xs-8 col-sm-8 col-md-8 col-lg-8"><span th:text="${entityDto.discription}"></span></div>                        
	                    </div>
		    	    </div>
		    	
			</div>
		</div>
		
    </section>
    
    <section layout:fragment="footer"></section>
    
    <div layout:fragment="jssrc">
		
	</div>
    
</body>
</html>