<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="decorators/layout">    
<head>
    <title>admin Dashboard</title>
</head>
<body>
	
	<section layout:fragment="header">
		<div th:include="fragments/navbar">
		</div>
	</section >
	
    <section layout:fragment="content" id="content" class="container-fluid">
		<div class="bredcrumb">
			<span><a th:href="@{/dashboard}">Dashboard </a> / </span> 
			<span><a th:href="@{/entityIdRepository/list}">Entity Id Repository</a></span> 
		</div>
		
		<div class="action-bar">
			<a th:href="@{/entityIdRepository/create}" class="btn btn-success" ><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create</a>
			<a id="btn-edit" class="btn btn-info" ><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
			<a id="btn-delete" class="btn btn-danger" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
		</div>
		
		<div class="entity-list table-responsive">
			<table class="table entity-table" style="min-width : 1330px">
				<thead>
					<tr>
						<th class="checkbox-cell"><input type="checkbox" title="Select All" id="checkbox-all" /></th>
						<th class="checkbox-cell"></th>
						<th>Entity Name</th>
						<th>Prefix</th>
						<th>Suffix</th>
						<th>Last Sr. No</th>
						<th>Key</th>
						<th class="width-400px">Value</th>
						<th class="width-400px">Description</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="entityDto : ${paginatedList.entityDtoList}" th:attr="data-row-id=${entityDto.rowId}" >
						<td class="checkbox-cell"><input type="checkbox" title="Select" th:attr="id=${'checkbox-'} + ${entityDto.rowId}" /></td>
						<td class="checkbox-cell"><a th:href="@{/entityIdRepository/{rowId}/details(rowId=${entityDto.rowId})}"><span class="glyphicon glyphicon-list-alt"></span></a></td>
						<td th:text="${entityDto.entityName}"></td>
						<td th:text="${entityDto.prefix}"></td>
						<td th:text="${entityDto.suffix}"></td>
						<td th:text="${entityDto.lastSrNo}"></td>
						<td th:text="${entityDto.key}"></td>
						<td class="width-400px" th:text="${entityDto.value}" ></td>
						<td class="width-400px" th:text="${entityDto.discription}" ></td>
					</tr>
				</tbody>
			</table>			
		</div>
		
		<div class="col-md-12 text-center">
			<ul class="pagination">
			    <li th:class="${paginatedList.pagination.prevPage.disabled} ? disabled" ><a th:href="@{${paginatedList.pagination.prevPage.url}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
			    <li th:each="pagi : ${paginatedList.pagination.navPages}" th:class="${pagi.isActive} ? active"><a th:href="@{${pagi.url}}" th:text="${pagi.page}"><span class="sr-only">(current)</span></a></li>			    
			    <li th:class="${paginatedList.pagination.nextPage.disabled} ? disabled" ><a th:href="@{${paginatedList.pagination.nextPage.url}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
			    			    
			</ul>
		</div>
		
    </section>
    
    <section layout:fragment="footer"></section>
    
    <div layout:fragment="jssrc">
		<script type="text/javascript" th:src="@{/js/entity-id-repository.js}" src="../../js/entity-id-repository.js"></script>
	</div>
</body>
</html>