<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="decorators/layout">    
<head>
    <title>Patient Details</title>
</head>
<body>
	
	<section layout:fragment="header">
		<div th:include="fragments/navbar">
		</div>
	</section>	
    
    <section layout:fragment="content" id="content" class="container-fluid">
		<div class="bredcrumb">
			<span><a th:href="@{/dashboard}">Dashboard </a> / </span> 
			<span><a th:href="@{/listOfValue/list}">List Of Value</a> / </span> 
			<span><a th:href="@{/listOfValue/details}">Details</a></span> 
		</div>
		
		<div class="entity-details-container">
			
			<div class="entity-details row">
		    	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		    	    	<div class="row">
	                        <div class="key col-xs-4 col-sm-4 col-md-4 col-lg-4" ><span>Display</span></div>
	                        <div class="value col-xs-8 col-sm-8 col-md-8 col-lg-8"><span th:text="${listOfValueDto.display}"></span></div>                        
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		    	    	<div class="row">
	                        <div class="key col-xs-4 col-sm-4 col-md-4 col-lg-4" ><span>Value</span></div>
	                        <div class="value col-xs-8 col-sm-8 col-md-8 col-lg-8"><span th:text="${listOfValueDto.val}"></span></div>                        
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		    	    	<div class="row">
	                        <div class="key col-xs-4 col-sm-4 col-md-4 col-lg-4" ><span>Type</span></div>
	                        <div class="value col-xs-8 col-sm-8 col-md-8 col-lg-8"><span th:text="${listOfValueDto.type}"></span></div>                        
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		    	    	<div class="row">
	                        <div class="key col-xs-4 col-sm-4 col-md-4 col-lg-4" ><span>Parent Type</span></div>
	                        <div class="value col-xs-8 col-sm-8 col-md-8 col-lg-8"><span th:text="${listOfValueDto.parentType}"></span></div>                        
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		    	    	<div class="row">
	                        <div class="key col-xs-4 col-sm-4 col-md-4 col-lg-4" ><span>Sequence No</span></div>
	                        <div class="value col-xs-8 col-sm-8 col-md-8 col-lg-8"><span th:text="${listOfValueDto.sequenceNo}"></span></div>                        
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		    	    	<div class="row">
	                        <div class="key col-xs-4 col-sm-4 col-md-4 col-lg-4" ><span>Deletable </span></div>
	                        <div class="value col-xs-8 col-sm-8 col-md-8 col-lg-8"><span th:text="${listOfValueDto.deletable ? 'Yes' : 'No'}"></span></div>                        
	                    </div>
		    	    </div>
			</div>
		</div>
		
    </section>
    
    <section layout:fragment="footer"></section>
    
    <div layout:fragment="jssrc">
		
	</div>
    
</body>
</html>