<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="decorators/layout">    
<head>
    <title>Entity ID Repository Create</title>
</head>
<body>
	
	<section layout:fragment="header"><div th:include="fragments/navbar"></div></section>	
    
    <section layout:fragment="content" id="content" class="container-fluid">
    
		<div class="bredcrumb">
			<span><a th:href="@{/dashboard}">Dashboard </a> / </span> 
			<span><a th:href="@{/listOfValue/list}">Patient</a> / </span> 
			<span><a th:href="@{/listOfValue/create}">Create</a></span> 
		</div>
		
		<form action="/listOfValue/edit" th:action="@{/listOfValue/edit}" th:object="${listOfValueDto}" method="post" role="form" id="patient-form" autocomplete="off">
			<div class="action-bar">
				<button type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Update</button>			
				<a th:href="@{/listOfValue/list}" class="btn btn-danger" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancel</a>
			</div>
			
			<div class="form-fields">
				<div class="row">
		    	    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		    	    	<div class="form-group">
	                        <label for="display" class="field">Display</label>
	                        <input type="text" name="display" id="display" class="form-control" placeholder="Display" th:value="${listOfValueDto.display}" />
	                        <input type="hidden" name="rowId" id="rowId" class="form-control" th:value="${listOfValueDto.rowId}" />	                        
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		    	    	<div class="form-group">
	                        <label for="val" class="field">Value</label>
	                        <input type="text" name="val" id="val" class="form-control" placeholder="Value" th:value="${listOfValueDto.val}" />	                        
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-12  col-md-6 col-lg-6">
		    	    	<div class="form-group">
	                        <label for="type" class="field">Type</label>
	                        <input type="text" name="type" id="type" class="form-control" placeholder="Type" th:value="${listOfValueDto.type}" />
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-12  col-md-6 col-lg-6">
		    	    	<div class="form-group">
	                        <label for="parentType" class="field">Parent Type</label>
	                        <input type="text" name="parentType" id="parentType" class="form-control" placeholder="Parent Type" th:value="${listOfValueDto.parentType}" />
	                    </div>
		    	    </div>
		    	    
		    	    <div class="col-xs-12 col-sm-12  col-md-6 col-lg-6">
		    	    	<div class="form-group">
	                        <label for="sequenceNo" class="field">Sequence No</label>
	                        <input type="number" name="sequenceNo" id="sequenceNo" class="form-control" placeholder="sequence No" th:value="${listOfValueDto.sequenceNo}" />
	                    </div>
		    	    </div>
		    	</div>
			</div>
			
			<div class="action-bar">
				<button type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Update</button>			
				<a th:href="@{/listOfValue/list}" class="btn btn-danger" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancel</a>
			</div>
		</form>
    </section>
    
    <section layout:fragment="footer"></section>
    
    <div layout:fragment="jssrc">
		<script type="text/javascript" th:src="@{/js/list-of-value.js}" src="../../js/list-of-value.js"></script>
	</div>
    
</body>
</html>