<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="decorators/layout">    
<head>
    <title>Patient List</title>
</head>
<body>
	
	<section layout:fragment="header">
		<div th:include="fragments/navbar">
		</div>
	</section >
	
    <section layout:fragment="content" id="content" class="container-fluid">
		<div class="bredcrumb">
			<span><a th:href="@{/dashboard}">Dashboard </a> / </span> 
			<span><a th:href="@{/listOfValue/list}">List Of Value</a></span> 
		</div>
		
		<div class="action-bar">
			<a th:href="@{/listOfValue/create}" class="btn btn-success" ><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create</a>
			<a id="btn-edit" class="btn btn-info" ><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
			<a id="btn-delete" class="btn btn-danger" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
		</div>
		
		<div class="entity-list table-responsive">
			<table class="table entity-table" style="min-width : 1330px">
				<thead>
					<tr>
						<th class="checkbox-cell"><input type="checkbox" title="Select All" id="checkbox-all" /></th>
						<th class="checkbox-cell"></th>
						<th>Display</th>
						<th>Value</th>
						<th>Type</th>
						<th>Parent Type</th>
						<th>Sequence No</th>
						<th>Can Delete ?</th>					
					</tr>
				</thead>
				<tbody>
					<tr th:each="listOfValueDto : ${paginatedList.listOfValueDtoList}" th:attr="data-row-id=${listOfValueDto.rowId}" >
						<td class="checkbox-cell"><input type="checkbox" title="Select" th:attr="id=${'checkbox-'} + ${listOfValueDto.rowId}" /></td>
						<td class="checkbox-cell"><a th:href="@{/listOfValue/{rowId}/details(rowId=${listOfValueDto.rowId})}"><span class="glyphicon glyphicon-list-alt"></span></a></td>
						<td th:text="${listOfValueDto.display}"></td>
						<td th:text="${listOfValueDto.val}"></td>
						<td th:text="${listOfValueDto.type}"></td>
						<td th:text="${listOfValueDto.parentType}"></td>
						<td th:text="${listOfValueDto.sequenceNo}"></td>
						<td class="width-300px" th:text="${listOfValueDto.deletable ? 'Yes' : 'No'}" ></td>
					</tr>
				</tbody>
			</table>			
		</div>
		
		<div class="col-md-12 text-center">
			<ul class="pagination">
			    <li th:class="${paginatedList.pagination.prevPage.disabled} ? disabled" ><a th:href="@{${paginatedList.pagination.prevPage.url}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
			    <li th:each="pagi : ${paginatedList.pagination.navPages}" th:class="${pagi.isActive} ? active"><a th:href="@{${pagi.url}}" th:text="${pagi.page}"><span class="sr-only">(current)</span></a></li>			    
			    <li th:class="${paginatedList.pagination.nextPage.disabled} ? disabled" ><a th:href="@{${paginatedList.pagination.nextPage.url}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
			    			    
			</ul>
		</div>
		
    </section>
    
    <section layout:fragment="footer"></section>
    
    <div layout:fragment="jssrc">
		<script type="text/javascript" th:src="@{/js/list-of-value.js}" src="../../js/list-of-value.js"></script>
	</div>
</body>
</html>