<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="decorators/layout">    
<head>
    <title>Login</title>
</head>
<body class="login-body">
	<div layout:fragment="csshref">
		<link rel="stylesheet" th:href="@{/css/login.css}" href="../../css/login.css" />
	</div>
	
	<section layout:fragment="header"></section >
	
    <section layout:fragment="content" id="login" class="login">
		<div class="container">
			<div class="row">
	    	    <div class="col-xs-12">
	        	    <div class="form-wrap">
	        	    <div class="alert alert-danger" th:if="${param.error}">
						Username or password is incorrect.
					</div>
					<div class="alert alert-success" th:if="${param.signup}">
						Thanks! You have successfully signed up.
					</div>
					<div class="alert alert-info" th:if="${param.logout}">
						You have successfully logout.
					</div>
					<div class="login-wrap">
	                <h1>Login <span>to access your account</span></h1>
	                    <form role="form" action="/login" method="post" id="login-form" autocomplete="off">
	                       <ul class="form-list">
	                       <li class="full">
	                        <label for="username" class="ms-label">Username</label>
	                        <div class="form-field">
	                            <input type="text" name="username" id="username" class="ms-textbox" placeholder="Username" />
	                        </div>
	                       </li>
	                       <li class="full">
	                        <label for="key" class="ms-label">Password</label>
	                        <div class="form-field">
	                            <input type="password" name="password" id="password" class="ms-textbox" placeholder="Password" />
	                        </div>
	                       </li>
	                       <li class="full">
	                        <div class="form-field checkbox-wrap">
	                            <input type="checkbox" name="remember-me" value="true" class="" /> Remember me on this computer
	                        </div>
	                        </li>
	                        <li class="full">
	                        	<div class="form-field">
	                        	<input type="submit" id="btn-login" class="ms-btn" value="Login" />
	                       		</div>
	                       </li>
	                       </ul>
	                    </form>
	                    <a href="/signup" class="forget" >Don't have an account? Sign up</a>
	                    <hr/>
	                </div>
	        	    </div>
	    		</div> <!-- /.col-xs-12 -->
	    	</div> <!-- /.row -->
	    	
	    	
	    	
	    	
	    </div> <!-- /.container -->
    </section>
    
    <section layout:fragment="footer"></section>
    
    <div layout:fragment="jssrc">
		<script type="text/javascript" src="../../js/login.js"></script>
	</div>
    
</body>
</html>