<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="decorators/layout">    
<head>
    <title>Sign Up</title>
</head>
<body>
	<div layout:fragment="csshref">
		<link rel="stylesheet" th:href="@{/css/signup.css}" href="../../css/signup.css" />
	</div>
	
	<section layout:fragment="header"></section >
	
    <section layout:fragment="content" id="signup">
		<div class="container">
	    	<div class="row">
	    	    <div class="col-xs-12">
	        	    <div class="form-wrap">
	                	<h1>Sign Up</h1>
	                	<form action="/signup" th:action="@{/signup}" th:object="${signupForm}" method="post" role="form" id="signup-form" autocomplete="off">
	                        <div class="form-group">
	                            <label for="name" class="field">Name</label>
	                            <input type="text" name="name" id="name" class="form-control" placeholder="Name" th:field="*{name}" />
	                        </div>
	                        <div class="form-group">
	                            <label for="email" class="field">Email</label>
	                            <input type="email" name="email" id="email" class="form-control" placeholder="Email" th:field="*{email}" />
	                        </div>
	                        <div class="form-group">
	                            <label for="username" class="field">Username</label>
	                            <input type="text" name="username" id="username" class="form-control" placeholder="Username" autocomplete="off" th:field="*{username}" />
	                            <div th:class="${#fields.hasErrors('username')} ? fieldError : noError" class="error">Username already taken</div>
	                        </div>
	                        <div class="form-group">
	                            <label for="password" class="field">Password</label>
	                            <input type="password" name="password" id="password" class="form-control" placeholder="Confirm Password" autocomplete="off" th:field="*{password}" />
	                        </div>
	                        <div class="checkbox">
	                            <span class="character-checkbox" onclick="showPassword()"></span>
	                            <span class="label">Show password</span>
	                        </div>
	                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Sign Up" />
	                    </form>
	                    <a href="/login" class="forget" >Have an account? Sign in</a>
	                    <hr/>
	        	    </div>
	    		</div> <!-- /.col-xs-12 -->
	    	</div> <!-- /.row -->
	    </div> <!-- /.container -->
    </section>
    
    <section layout:fragment="footer"></section>
    
    <div layout:fragment="jssrc">
		<script type="text/javascript" src="../../js/signup.js"></script>
	</div>
    
</body>
</html>