<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <!-- <div class="container"> -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>
                <a class="navbar-brand" th:href="@{/dashboard}" href="/dashboard"><span>Sahara <span>Hospital</span></span></a>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class=""><a th:href="@{/prescription/create}" href="/prescription/create">Prescription</a></li>
                        <li class=""><a th:href="@{/patient/list}" href="/patient/list">Patient</a></li>
                        <li class=""><a th:href="@{/medicineMaster/list}" href="/medicineMaster/list">Medicine Master</a></li>
                        <li class=""><a th:href="@{/vacation/list}" href="/vacation/list">Vacation</a></li>
                        <li class=""><a th:href="@{/patient/calendar}" href="/patient/calendar">Calendar</a></li>
                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Setup <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/entityIdRepository/list}" href="/entityIdRepository">Entity ID Repository</a></li>
                                <li><a th:href="@{/listOfValue/list}" href="/listOfValue/list">List Of Value</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as mohammedejd <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Settings</a></li>
                                <li><a href="#">My Profile</a></li>
                                <li><a href="#">Change Password</a></li>
                                <li class=""><a th:href="@{/logout}" href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            <!-- </div> -->
        </nav>
    </div>
</div>