<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="description" content="Thymeleaf Layput Sample"/>
    <meta name="author" content="Mohammed Mujahed Khan"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/libs/easy-autocomplete-1.3.5/easy-autocomplete.min.css}" href="../../libs/easy-autocomplete-1.3.5/easy-autocomplete.min.css" />
    <link rel="stylesheet" th:href="@{/css/commons.css}" href="../../css/commons.css" />
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
    <title>Thymeleaf Layout Base</title>
  </head>
<body>
	<div layout:fragment="csshref">
	
	</div>
	
    <section layout:fragment="header">
      <h1>Thymeleaf Layout Base</h1>
    </section >

    <section layout:fragment="content">
      <p>Content Page</p>    
    </section>

    <section layout:fragment="footer">
      <p>Footer Page</p>    
    </section>

	<script type="text/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}" src="webjars/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/libs/jquery-validation-1.17.0/jquery.validate.min.js}" src="../../libs/jquery-validation-1.17.0/jquery.validate.min.js"></script>
	<script type="text/javascript" th:src="@{/libs/sweetalert2/sweetalert2.all.min.js}" src="../../libs/sweetalert2/sweetalert2.all.min.js"></script>
	<script type="text/javascript" th:src="@{/libs/easy-autocomplete-1.3.5/jquery.easy-autocomplete.min.js}" src="../../libs/jquery.easy-autocomplete-1.3.5/easy-autocomplete.min.js"></script>
	<script type="text/javascript" th:src="@{/libs/jquery.autocomplete.min.js}" src="../../libs/jquery.autocomplete.min.js"></script>
	<script type="text/javascript" th:src="@{/libs/underscore-min.js}" src="../../libs/underscore-min.js"></script>
	<script type="text/javascript" th:src="@{/libs/moment.min.js}" src="../../libs/moment.min.js"></script>
	<script type="text/javascript" th:src="@{/libs/fontawesome-all.min.js}" src="../../libs/fontawesome-all.min.js"></script>
	
	<script type="text/javascript" th:src="@{/js/commons.js}" src="../../js/commons.js"></script>
	
	<div layout:fragment="jssrc">
		
	</div>
  </body>
</html>