<div layout="row" layout-align="center center">
	<div flex="30" layout="column" class="layout-padding">
	
		<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Login to your account</span>
				</md-card-title-text>
        	</md-card-title>
        	<md-card-content layout="column">
        		<md-input-container>
					<label>Username</label>
					<input type="text" ng-model="data.username" />
				</md-input-container>
				
				<md-input-container>
					<label>Password</label>
					<input type="text" ng-model="data.password" />
				</md-input-container>
        	</md-card-content>
        	<md-card-actions layout="row" layout-align="space-around center">
        		<a href="#">Don't Have An Account</a>
        		<md-button class="md-primary md-raised">Submit</md-button>
			</md-card-actions>
      	</md-card>
	</div>
</div>