/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1 {
	float:left;
	width:100%;
	margin:0 0 15px 0;
	padding:0;
	color: #000;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}
#login h1 span{
	float:left;
	width:100%;
	margin:5px 0 0;
	padding:0;
	font-size:12px;
	color:#555;
	font-weight:normal;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #4285f4;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
	text-align: center;
	display: block;
}

div.form-group label {
	color : #4285f4;
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
	background-color: #4285f4;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*    --------------------------------------------------
    :: Footer
	-------------------------------------------------- */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}

/*Login page CSS------------*/
#login .form-wrap{ position:relative; transform:translateY(25%);}
.login-body{display:inline-block; width:100%; background-repeat:no-repeat; background-position:left top; background-size:conver; background-image:url(../images/login-bg.jpg);}
.login{display:inline-block; width:100%;}
.login-wrap { display:inline-block; width:100%; padding:25px; position:relative; background:rgba(255,255,255,0.6);}
.login-wrap ul.form-list li{ padding:0;}
.login-wrap ul.form-list li .ms-btn{ width:100%; color:#fff; background:#005db4;}
.login-wrap a.forget{ float:left; width:100%; font-size:13px;}
.login-wrap .checkbox-wrap{ font-size:13px;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 30px white inset;}

@media screen and (max-width:992px){
	#login .form-wrap{ width:100%;}
}

