h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

div.bredcrumb, div.action-bar, div.form-fields{
	padding : 5px;
}

div.action-bar{
	/*border-bottom: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;*/
}

div.form-fields{
	width: 100%;
    margin: 20px auto;
}

div.form-fields label {
	/*color : #4285f4;*/
	color:#999;
	font-weight: normal;
}

.entity-list {
	/*border: 1px solid #f1f1f1;
	margin-top: 5px;*/
	float:left; width:100%; margin:0 auto;
}
table.entity-table{
	margin:0 auto;
}
table.entity-table th{
	border-bottom: none !important;
}

/* table.entity-table th, table.entity-table td{
	padding: 5px;
	border-bottom: 1px solid #f1f1f1;
} */
.checkbox-cell{
	width : 10px;
}

.width-200px{
	width: 200px;
}

.width-300px{
	width: 300px;
}

.width-400px{
	width: 400px;
}

.entity-details{
	width : 90%;
	margin: 0 auto;
	padding: 20px;
}

.entity-details-container{
	border: 1px solid #f1f1f1;
}
.entity-details .key, .entity-details .value{
	padding : 5px;
}
.entity-details .value{
	
}

div.form-group label.error, div.fieldError {
	color : #d50000;
	font-weight: normal;
}

div.noError{
	display: none;
	
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
  opacity:0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  opacity:0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000;
  opacity:0.5;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000;
  opacity:0.5;
}

.nav>li>a{ font-size:11px; text-transform:uppercase; letter-spacing:1.5px;}


/*Shoaib FORM-CSS-------------*/
.center-hold{ margin:0 auto; max-width:740px; width:100%;}
.ms-form-wrap{float:left; width:100%; margin:20px 0; padding:0 10px; position:relative; text-align:center;}
.form-field{ float:left; width:100%; height:50px; margin:0; padding:0px; position:relative; text-align:left;}

.form-list{float: left; width: 100%; padding: 0px;  list-style-type:none;}
.form-list li{ float:left; width:50%; margin:0; padding:0px 10px; position:relative}
.form-list li.full{ width:100%;}
.form-list li.one-third{ width:33.33333%;}
.form-list li.one-fourth{ width:25%;}
.form-list li.cta div.form-field{ border:none; text-align:center;}
.form-list li.full.address, .form-list li.full.address .form-field { height:auto;}

label.ms-label{ float:left; width:100%; margin:0; padding:0; font-size:10px; line-height:20px; text-align:left; color:#999; text-transform:uppercase; letter-spacing:1px;}
.ms-select{ float:left; width:100%; margin:0; padding:0; position:relative;}
.ms-textbox, .ms-select select{ float:left; width:100%; margin:0; padding:7px 12px; font-size:12px; background:#fff; border:1px solid #ddd; border-radius:2px; color:#000; -webkit-appearance:none; appearance:none; -moz-appearance:none;}
textarea.ms-textbox{ overflow:auto; resize:none; height:70px;}
.error{ float:left; width:100%; color:red !important; }

.ms-btn{ display:inline-block; width:auto; padding:7px 12px; transition:all ease-in-out 0.3s; text-align:center; font-size:12px; line-height:16px; letter-spacing:2px; -webkit-appearance:none; appearance:none; background:none; border:1px solid #005db4; text-decoration:none; color:#005db4; text-transform:uppercase; border-radius:3px; cursor:pointer;}
.ms-btn:hover{ color:#fff; text-decoration:none; background:#005db4;}

.ms-btn.small{padding:5px 10px; font-size:11px;}

div.top-bar{ float:left; width:100%; margin:0 0 6px 0; padding:0px 0px 0px 10px; background:#eee; position:relative;}
div.top-bar div.bredcrumb{ float:left; width:50%; margin-top:3px;}
div.top-bar div.bredcrumb span a{ font-size:12px; font-weight:500; color:#444; text-decoration:none}
div.top-bar div.bredcrumb span:last-child a{ font-weight:600; color:#000;}
div.top-bar div.action-bar{ float:left; width:50%; text-align:right;}

/*-------------*/

/*Create patient FORM-CSS-------------*/

.ms-textbox.age{ width:78%;}
.ms-select.year{ width:20%; float:right}

.ms-textbox.c-code{ width:20%}
.ms-textbox.mobile{ width:78%; float:right;}
.form-list li.full.cta{ margin-top:10px;}

.form-list li.cta div.action-bar{ border:0; margin-top:10px;}
.form-list li.cta div.action-bar .ms-btn{ margin:0px 5px;}


@media screen and ( max-width:640px){
	.form-list li{ width:100%;}
}





























