.container-fluid{
	padding-left: 5px;
	padding-right: 5px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.form-control{
	border-radius: 0;
}
label.field {
	color : #4285f4;
	font-weight: normal;
}
#content{
	background-color: #f9f9f9;
}
.split-container{
	border: 1px solid #f1f1f1;
    padding: 5px 5px;
    margin: 3px;
    background-color: #fff;
}
.margin-3px{
	margin: 3px;
}
.h4-well{
	margin: 0px;
    padding: 4px;
    /* border-top: 3px solid #4285f4; */
    color: #c9302c;
    text-decoration: underline;
    text-decoration-style: double;
}
.drop-container{
	position : absolute;
	margin-top : 1px;
	width : 100%;
    border: 1px solid #4285f4;
    background-color: #fff;
    padding: 2px 2px 0 2px;
    z-index : 10;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.drop-btn{
	padding: 5px 10px;
    background: #f9f9f9;
    margin-bottom: 2px;
}
.drop-btn:hover {
    background: #4285f4;
    color: #fff;
    cursor: pointer;
}
.autocomplete-selected {
    background: #4285f4;
    color: #fff;
}
.autocomplete-suggestions{
	margin-top : 1px;
    border: 1px solid #4285f4;
    background-color: #fff;
    padding: 2px 2px 0 2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow-y: scroll;
    overflow-x: hidden;
   	max-height: 250px;
}
.autocomplete-suggestion {
    padding: 5px 10px;    
    margin-bottom: 2px;
    border-bottom: 1px solid #f9f9f9;
}
.autocomplete-suggestion:hover {
    background: #4285f4;
    color: #fff;
    cursor: pointer;
}